<a href="https://colab.research.google.com/github/fjwoewop/Hackthon_project/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello world")

Hello world

In [2]:
a = int(3.7)     # Converts float to int (truncates decimal part)
b = int("25")    # Converts string to int
c = int(True)    # Converts boolean to int (True → 1, False → 0)

print(a, b, c)  # Output: 3 25 1

3 25 1

In [3]:
name = "Alice"
greeting = "Hello, " + name + "!"
print(greeting)

Hello, Alice!

In [4]:
pi = 3.14
print(pi)        # Output: 3.14
print(type(pi))  # Output: <class 'float'>

3.14
<class 'float'>

In [5]:
is_python_easy = True
print(is_python_easy)        # Output: True
print(type(is_python_easy))  # Output: <class 'bool'>

True
<class 'bool'>

In [6]:
name = "Alice"
age = 25
print(f"My name is {name} and I am {age} years old.")

My name is Alice and I am 25 years old.

In [7]:
def greet():
    """This function prints a greeting message."""
    print("Hello, World!")

greet()

Hello, World!

In [8]:
x = 10
print(id(x))  # Output: Unique memory address of x

10751144

In [9]:
y = 10.5
print(type(y))  # Output: <class 'float'>

<class 'float'>

In [10]:
a = 10
b = 3

print(a + b)   # Addition → 13
print(a - b)   # Subtraction → 7
print(a * b)   # Multiplication → 30
print(a / b)   # Division → 3.3333
print(a % b)   # Modulus (Remainder) → 1
print(a // b)  # Floor Division → 3
print(a ** b)  # Exponentiation (Power) → 1000

13
7
30
3.3333333333333335
1
3
1000

In [11]:
x = 5
y = 10

print(x == y)  # False (Equal to)
print(x != y)  # True  (Not equal to)
print(x > y)   # False (Greater than)
print(x < y)   # True  (Less than)
print(x >= y)  # False (Greater than or equal)
print(x <= y)  # True  (Less than or equal)

False
True
False
True
False
True

In [12]:
a = True
b = False

print(a and b)  # False (Both must be True)
print(a or b)   # True (At least one is True)
print(not a)    # False (Negation)

False
True
False

In [13]:
x = 5
x += 3  # Same as x = x + 3
print(x)  # Output: 8

x *= 2  # Same as x = x * 2
print(x)  # Output: 16

8
16